:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2077px;
  margin: 0 auto;
  background: #000235;
  overflow: hidden;
}
.navigation {
  position: relative;
  width: 1440px;
  height: 164px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 8;
  overflow: hidden;
}
.logo {
  position: absolute;
  width: 123.538px;
  height: 123.538px;
  top: 20px;
  left: -10px;
  background: url(../assets/images/f0217f9d-13fb-40ae-a404-82d682b9bc1e.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 48px;
  position: absolute;
  width: 456px;
  height: 52px;
  top: 56px;
  right: 80px;
  z-index: 9;
}
.about {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.pricing {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 73px;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 117px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 13;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.join-now {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.coin-nexus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 70px;
  left: 114px;
  color: #000235;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 15;
}
.flex-row-e {
  position: relative;
  width: 1675px;
  height: 946.875px;
  margin: 171px 0 0 0;
  z-index: 46;
}
.group {
  position: absolute;
  width: 24.41%;
  height: 45.45%;
  top: 0;
  left: 56.84%;
  background: url(../assets/images/b602665c-b19f-4425-b7c8-190a1dec8d18.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}
.crypto-services-seamless-solutions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 837px;
  height: 378px;
  top: 20px;
  left: 20px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 100px;
  font-weight: 700;
  line-height: 126px;
  text-align: center;
  letter-spacing: -2px;
  z-index: 7;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 857px;
  height: 92px;
  top: 156px;
  left: 20px;
  padding: 0;
  z-index: 3;
}
.ellipse {
  position: absolute;
  width: 837px;
  height: 704px;
  top: 188px;
  left: 838px;
  background: url(../assets/images/2ecd365b-d10d-4bbe-9236-0655280ec715.png)
    no-repeat center;
  background-size: cover;
  filter: blur(152px);
  z-index: 6;
}
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 837px;
  height: 72px;
  top: 462px;
  left: 0;
  z-index: 4;
}
.secure-marketplace {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 759px;
  height: 72px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-overflow: initial;
  z-index: 5;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 305px;
  height: 82px;
  top: 652px;
  left: 65px;
  cursor: pointer;
  background: #3f6ca2;
  border: none;
  border-radius: 100px;
}
.buy-crypto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 26px;
  left: 79px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000000;
}
.rectangle-1 {
  position: absolute;
  width: 329px;
  height: 82px;
  top: 652px;
  left: 407px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #9bbee3;
  z-index: 2;
  border-radius: 100px;
}
.sell-crypto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 25px;
  left: 84px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 37;
}
.featured-on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 3.17%;
  top: 89.66%;
  left: 4.96%;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 46;
}
.rectangle-2 {
  position: absolute;
  width: 1280px;
  height: 67.875px;
  top: 879px;
  left: 59px;
  cursor: pointer;
  background: rgba(99, 88, 128, 0.19);
  border: none;
  z-index: 40;
  border-radius: 7px;
}
.image {
  position: absolute;
  width: 192px;
  height: 67.875px;
  top: 0;
  left: 41px;
  background: url(../assets/images/07a2744cb2418f7f3547952cd9d59e913fbafb69.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.6;
  z-index: 42;
}
.image-3 {
  position: absolute;
  width: 69px;
  height: 38.364px;
  top: 7px;
  left: 744px;
  background: url(../assets/images/cfe45f2e3f5ef15ecd22f74a1e7b984f254c6ffa.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.6;
  z-index: 43;
}
.image-4 {
  position: absolute;
  width: 171px;
  height: 24.592px;
  top: 19px;
  left: 403px;
  background: url(../assets/images/0286c861ed418282f89c70fec565f3975009d136.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.6;
  z-index: 41;
}
.image-5 {
  position: absolute;
  width: 116px;
  height: 29.511px;
  top: 19px;
  left: 983px;
  background: url(../assets/images/f1429cf75d5879ff590350ec2dc370b18abb3853.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.6;
  z-index: 44;
}
.flex-row {
  position: relative;
  width: 1246px;
  height: 420.978px;
  margin: 56.147px 0 0 76px;
  z-index: 57;
}
.home-about-nfts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 69px;
  height: 28.97%;
  top: 0;
  left: 58.67%;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  z-index: 45;
}
.rectangle-6 {
  position: absolute;
  width: 1246px;
  height: 384px;
  top: 36.978px;
  left: 0;
  font-size: 0px;
  background: url(../assets/images/746ca4f9-dc34-4f35-ab94-bc73939fd2f6.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  border-radius: 60px;
}
.are-you-ready {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 410px;
  height: 31px;
  margin: 31px 0 0 387px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 61;
}
.embrace-innovation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 858px;
  height: 19px;
  margin: 10px 0 0 191px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: 7.2px;
  z-index: 60;
}
.get-started {
  position: relative;
  width: 375px;
  height: 82px;
  margin: 161px 0 0 422px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 58;
  border-radius: 100px;
}
.rectangle-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 26px;
  left: 105px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
  z-index: 59;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000000;
}
.navigation-footer {
  position: relative;
  width: 1440px;
  height: 256px;
  margin: 62px 0 0 3px;
  background: #000235;
  z-index: 17;
  overflow: hidden;
}
.divider {
  position: relative;
  width: 1280px;
  height: 1px;
  margin: 0 0 0 80px;
  background: url(../assets/images/e40b2d9d-b8fa-42e1-8d6b-0dc0553ed23a.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.flex-row-bf {
  position: relative;
  width: 1074px;
  height: 44px;
  margin: 43px 0 0 80px;
  z-index: 54;
}
.contact-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 576px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.join-newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 0;
  left: 781px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 27.72px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.coin-nexus-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 1px;
  left: 65px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 27.72px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 47;
}
.coin-nexus-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 3px;
  left: 276px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.market {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 3px;
  left: 421px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.site-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 8px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.flex-row-de {
  position: absolute;
  width: 65.83%;
  height: 50.78%;
  top: 33.59%;
  left: 5.56%;
  z-index: 62;
}
.regroup {
  position: absolute;
  width: 39.77%;
  height: 100%;
  top: 0;
  left: 29.11%;
  z-index: 51;
}
.home-about-buy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 93px;
  height: 95.38%;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 49;
  overflow: hidden;
}
.browse-buy-crypto {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 97px;
  height: 71.54%;
  top: 0;
  left: 38.46%;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 50;
  overflow: hidden;
}
.email-linkedin-instagram {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 74px;
  height: 95.38%;
  top: 0;
  left: 80.37%;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-overflow: initial;
  z-index: 51;
  overflow: hidden;
}
.email-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.85%;
  top: 29.23%;
  left: 88.08%;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.social-icons {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 184px;
  height: 40px;
  top: 90px;
  left: 0;
  z-index: 19;
}
.buttons-icon {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 20;
  border-radius: 4px;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 21;
  overflow: visible auto;
}
.icon-b {
  position: relative;
  width: 20px;
  height: 19.92px;
  margin: 2.04px 0 0 2px;
  background: url(../assets/images/7ce99f79-5a93-4426-b91b-7eed6ce4cae9.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.buttons-icon-c {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 23;
  border-radius: 4px;
}
.icon-d {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 24;
  overflow: visible auto;
}
.icon-e {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 3px 0 0 3px;
  background: url(../assets/images/c1bbdcb1-3024-463b-a073-284723dbb96d.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.buttons-icon-f {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 26;
  border-radius: 4px;
}
.icon-10 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 27;
  overflow: visible auto;
}
.icon-11 {
  position: relative;
  width: 20px;
  height: 14px;
  margin: 5px 0 0 2px;
  background: url(../assets/images/40e67b64-5cbd-4a99-a986-43be84b2baf2.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.buttons-icon-12 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 29;
  border-radius: 4px;
}
.icon-13 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 30;
  overflow: visible auto;
}
.icon-14 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 2px;
  background: url(../assets/images/fa17896a-8cc5-41a5-bb62-a509aefd737f.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.flex-row-ea {
  position: absolute;
  width: 506px;
  height: 53px;
  top: 113px;
  left: 854px;
  z-index: 34;
}
.button-analytics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 252px;
  height: 45px;
  margin: 4px 0 0 254px;
  padding: 35px 106px 35px 106px;
  background: #9191dc;
  z-index: 34;
  border-radius: 100px;
}
.submit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 268.501px;
  height: 19px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.6px;
  z-index: 35;
}
.rectangle-15 {
  position: absolute;
  width: 506px;
  height: 53px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 33;
}
